.git/*
.idea/*
app/cache/out/*/
app/log/*.log
*.zip
*.rar
web/avatar/[0-9]*.jpg
web/avatar/[0-9]*/*
web/images/*/
config/all.php
config/install.lock
config/queue.lock
sys/update.lock
node_modules
bower_components
web_resource/vue/dist.min.js
components
auto_tools/post_gallery/config.php
test/*
test/