# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# 移除部分系统目录
.git/*
.idea/*
app/cache/out/*/
app/log/*.log
*.zip
*.rar
web/avatar/[0-9]*.jpg
web/avatar/[0-9]*/*
web/images/*/
config/all.php
config/install.lock
config/queue.lock