<title>在 {site_title} 上 {comment_name} 评论了你的图集</title>
<!--T 在 {site_title} 上 {comment_name} 评论了你的图集 -->
<div>
	<p>{user_aliases} 你好:</p>

	<p>{comment_name} 评论了你的图集 <a href="{gallery_page}"><strong>{gallery_title}</strong></a>，你可以访问Ta的主页：<a href="{comment_user_url}">{comment_user_url}</a> 查看他的个人介绍。</p>

	<p>评论内容：</p>

	<div style="border-left: #959f98 10px solid;padding-left: 10px;">{comment_content}</div>

	<p>也可以访问：<a href="{gallery_page}">{gallery_page}</a> 查看该图集。</p>

	<p>时间：{site_time}</p>
</div>