<title>在 {site_title} 上 {like_user_name} 喜欢了你的图片</title>
<!--T 在 {site_title} 上 {like_user_name} 喜欢了你的图片 -->
<div>
	<p>{user_aliases} 你好:</p>

	<p>{like_user_name} 喜欢了你的图片 <a href="{picture_page}"><strong>{picture_name}</strong></a>，你可以访问Ta的主页：<a href="{like_user_url}">{like_user_url}</a> 查看他的个人介绍。</p>

	<p>已经有 · <strong>{like_count}</strong> · 人喜欢了这张。</p>

	<p><img src="{picture_display_url}" alt="{picture_name}"></p>

	<p>也可以访问：<a href="{picture_page}">{picture_page}</a> 查看该图片。</p>

	<p>时间：{site_time}</p>
</div>