<title>在 {site_title} 上 {reply_user_name} 回复了你的评论</title>
<!--T 在 {site_title} 上 {reply_user_name} 回复了你的评论 -->
<div>
	<p>{user_aliases} 你好:</p>

	<p>{reply_user_name} 回复了你在 <a href="{post_link}"><strong>{post_title}</strong></a> 上的评论。</p>

	<p>你可以访问Ta的主页：<a href="{reply_user_url}">{reply_user_url}</a> 查看他的个人介绍。</p>

	<p>你的评论内容：</p>

	<div style="border-left: #959f98 10px solid;padding-left: 10px;">{comment_content}</div>

	<p>该评论发表时间：{comment_time}</p>

	<p>Ta回复内容：</p>

	<div style="border-left: #959f98 10px solid;padding-left: 10px;">{reply_comment}</div>

	<p>回复时间：{site_time}</p>
</div>